
#slider {width: 80%; max-width: 900px; margin: 0 auto; padding-bottom: 40px;
}
/*
h2 {padding: 20px 0 30px; font-size: 18px; line-height: 22px; font-style: italic;}
h2 a {text-decoration: none; color: #427f9e;}
h2 a:hover {border-bottom: 1px dotted #427f9e;}
*/